@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.turn {
  color: gold;
  position: absolute;
  top: 60px;
  left: 47vw;
}

.btn-controls {
  box-shadow: 2px 2px 15px 2px whitesmoke;
}
.o-50 {
  opacity: 0.35;
}
.o-50:hover {
  opacity: 0.8;
}
body {
  font-family: 'Montserrat', 'Tahoma', 'proxima-nova', 'Helvetica Neue', Arial,
    sans-serif;
}

.game-over {
  color: gold;
  text-shadow: 2px 2px 5px rgb(32, 5, 13);
  background: rgba(17, 13, 24, 0.6);
  border-radius: 3%;
  padding: 1rem 0;
}

.overlay {
  height: 100vh;
  padding: 3rem 1rem 1rem;
  background: url('https://images7.alphacoders.com/897/thumb-1920-897159.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bgOver {
  background: rgba(73, 63, 80, 0.3);
}
.bg0 {
  background: transparent;
}

body {
  background: url('https://mortalkombatgamessupport.wbgames.com/hc/article_attachments/360020611733/mkxhud2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.log-box {
  width: auto;
  height: 35vh;
  overflow: scroll;
}

.battle-box {
  width: 100%;
  height: 70vh;
}

.act-box {
  width: 100%;
  height: 10vh;
}

.text-gold {
  color: gold;
}

.progress {
  background: rgba(128, 128, 128, 0.185);
  border: 2px solid gold;
}
.p1,
.p2 {
  height: 45px;
  background: rgb(19, 21, 41);

  border-radius: 5px;
}

.btn-animated {
  animation: mySpell 2s ease-in-out infinite;
  animation-direction: alternate-reverse;
}
@keyframes mySpell {
  0% {
    opacity: 0.8;
    transform: scale(0.9);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.8;
    transform: scale(0.9);
  }
}
